<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <!--用户名-->
    <add key="UserName" value="userName" />
    <!--密码-->
    <add key="PassWord" value="123" />
    <!--是否自动登录-->
    <add key="IsSaveInfo" value="true" />
    <!--登录网站-->
    <add key="LoginUrl" value="http://192.168.99.233:8080/portal/index_default.jsp"/>
    
    <add key="LoginInJsMethod" value="f_login"/>
    <add key="LoginOutJsMethod" value="f_logout"/>
    <add key="TxtUserName" value="id_userName"/>
    <add key="TxtPwd" value="id_userPwd"/>
    <add key="CbxIsSave" value="id_isSavePwd"/>
  </appSettings>
</configuration>